[Unit]
# Service Description
Description=Ehco Tunnel Service
# Start after network is initialized
After=network.target

[Service]
# Service Type
Type=simple
# Restart immediately if the process exits
Restart=always

# Working Directory
WorkingDirectory=/usr/bin/ehco
# Start Command
ExecStart=/usr/bin/ehco -c /etc/ehco/ehco.json

[Install]
# Automatically start this service when the system boots into multi-user mode
WantedBy=multi-user.target