[Unit]
# Service Description
Description=Ehco Tunnel Service
# Start after the network is ready
After=network.target

[Service]
# Service Type
Type=simple
# Restart immediately if the process exits
Restart=always

# Working Directory
WorkingDirectory=/usr/bin
# Start command, with placeholders for listen_port, server_port, and forward_mode
ExecStart=/usr/bin/ehco -l 0.0.0.0:%i -lt %f -r 127.0.0.1:%p

[Install]
# Automatically start this service when the system is in multi-user mode
WantedBy=multi-user.target
